*{
    margin: 0;
    font-family: arial;
    border: border-box; 
 
}
.navbar {
   height: 56px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.navbar-logo {
    height: 50px;
    width: 100px; 
}
.logo {
    background-image: url("logo.jpg");
    background-size: cover;
    height: 50px;
    width: 100%; 
    margin-right: 15px;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid rgb(250, 250, 250);
}
.add-1 {
    color:#cccccc;
    font-size: 1rem;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 20px;
}
.add-icon {
    display: flex;
    margin-left: 10px;
}
.search-icon {
    display: flex;
    background-color: #cccccc;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.nav-search{
    align-self: center;
    display:flex;
    border: none;
    width: 600px;
    justify-content: space-evenly;
}
.search-icon{
    background-color: #d8c621;
    border: none;
    width: 25px;
    align-items: center;
    align-content: center;
    margin-left: 0%;
    font-size: 1.3rem;
    color: black;
    display: flex;
}
.all{
    height: 35px;
    margin-left: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    border: none;
}
.all:hover{
    cursor: pointer;
}
.search-input{
    width: 450px;
    align-content: center;
    font-size: medium;
    border:none;
    text-emphasis-color: black;
}
.search-icon:hover{
    cursor:pointer;
}
.region {
    height: 20px;
    width: 45px;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    background-color: transparent;
    color: #cccccc;
    margin-top:20px;
}
.region-border{
    align-content: center;
    justify-content: center;
}
.region:hover {
    cursor:pointer;
}
.region-icon{
    color: #cccccc;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    align-content: center;
    margin: right 20px; 
    margin-bottom: 45px;
    display: flex;
    margin-right :10px; 
}
.hello{
    font-size: 12px;
    display: flex;
}
.b3{
    align-content: center;
    justify-content: center;
}
.b3:hover{
    cursor: pointer;
}
.acc{
    font-size: 14px;
    color: #ffffff;
    display: flex;
    font-weight: bold;
}
.option{
    width: 3px;
    margin-inline-end: 25px;
}
.return{
font-size: 12px;
}
.or {
    align-items:center;
    font-size: 15px;
    font-weight: bold;
}
.b4{
    align-content: center;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 10px;
}
.b4:hover{
    cursor: pointer;
}
.b5{
  align-items: baseline;
  margin-top: 15px;
  display: flex;
  font-size: large;
  font-weight: bold;
}
.b5 i{
    font-size: 30px;
}
.b5:hover{
    cursor:pointer;
}
.cart{
    align-content: baseline;
    font:bold;
    font-size: 15px;
}
.menu{
    display:flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    height: 39px;
    background-color: #222f3d;
    color: #cccccc;
    gap: 20px;
}
.menu :hover{
    cursor: hover;
}
.menu i{
    font-size :1.35rem;
    margin-left: 20px;
}
.hero-section{
    background-image:cover ;
    background-image: url(head.jpg);
    height: 600px0;
}